@import '../../styles/base';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1508357941501-0924cf312bbd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include directionX;
  .error {
    color: red;
    font-size: 11px;
  }

  .conForm {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100vh;
    background-color: #fff;
    margin-top: 30px;

    .form {
      margin-top: 50px;
      height: 80vh;
      text-align: center;

      h1 {  
        padding-top: 10px;
        line-height: 1;
      }

      .bottonSub {
        height: 40px;
        width: 90px;
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        background-color: rgb(214, 22, 22);
        font-weight: 600;
      }

      .bottonSub:hover {
        background-color: red;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
  }
}